@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background: #EFF1F7;
}

.content {
    grid-area: content;
    background: url(/img/spaced-shapdes.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to right,
    rgba(249, 107, 142, 1),
    rgba(218, 103, 230, 1),
    rgba(130, 125, 253, 1));
    justify-content: center;
}

.footer {
    grid-area: footer;
    background: white;
    margin-top: 45px;
}

.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "sidebar"
        "content"
        "footer";
    grid-template-areas: 1fr;
    grid-template-rows: 130px auto 250px;
}

.content,
.sidebar,
.footer {
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav li {
    list-style: none;
    padding: 1em 0;
    font-size: 20px;
}

nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

nav li a:hover {
    opacity: 1;
}

.logo {
    display: none;
}

.hero {
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
}

.hero img {
    margin-top: 30px;
    width: 200px;
    border-radius: 50%;
}

.hero h1 {
    font-size: 2em;
    font-weight: 300;
    color: #373d46;
}

.hero p {
    font-weight: 300;
    line-height: 1.8em;
    color: #98a0ad;
}

.action-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: #867bfb;
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 1em 0;
    transition: 0.3s;
}

.action-btn:hover {
    box-shadow: 0 10px 50px rgba(188, 197, 216, 1);
}

/******* ABOUT PAGE *******/
.card {
    background: #fff;
    box-shadow: 0 10px 50px rgba(188, 197, 216, 1);
    width: 365px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    padding-bottom: 30px;
    width: 300px;
    font-size: 18px;
}
.card p, .about-title {
    text-align: center;
    margin: auto;
}

.about-title {
    padding: 30px;
}

.card img {
    border-radius: 50%;
    margin-bottom: 20px;
}

/******* PORTFOLIO PAGE *******/

.project-card {
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 10px 50px rgba(188, 197, 216, 1);
    border-radius: 5px;
    height: 300px;
    width: 300px;
}

.project-card img {
    height: 250px;
    border-radius: 0px;
    width: 100%;
    margin-top: 0px;
}

.project-description h2 {
    padding-top: 45px;
}

.project-description p {
    width: 250px;
    margin: 0 auto;
    font-size: 22px;
}


.row {
    width: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    margin: 0 45px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/******* FOOTER *******/
footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer ul li {
    list-style: none;
    align-self: flex-end;
}

footer ul li a {
    text-decoration: none;
    color: #c1c6ce;
}

svg {
    width: 60%;
}

footer p {
    font-size: 0.8em;
}

/******* MEDIA QUERIES *******/

@media (min-width: 1040px) {
    .container {
        grid-template-areas:
            "sidebar content"
            "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;
    }
    nav {
        text-align: center;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .logo {
        display: initial;
        width: 150px;
    }
    .sidebar {
        background: linear-gradient(
        rgba(249, 107, 142, 1),
        rgba(218, 103, 230, 1),
        rgba(130, 125, 253, 1));
        padding-top: 3em;
    }
    .hero {
        text-align: left;
        margin: 2em auto;
    }
    .hero img {
        margin-top: 0;
        width: 300px;
        float: right;
        border-radius: 50%;
    }
    .hero h1 {
        font-size: 3.5em;
    }
    .hero p {
        width: 60%;
    }
    .card {
        background: #fff;
        box-shadow: 0 10px 50px rgba(188, 197, 216, 1);
        width: 800px;
        text-align: center;
        border-radius: 5px;
    }
    
    .card p {
        padding-bottom: 30px;
    }
    .card p, .about-title {
        text-align: center;
        margin: auto;
    }
    
    .about-title {
        padding: 30px;
    }

    .card img {
        border-radius: 50%;
    }
    .portfolio-title {
        text-align: center;
    }

    .row {
        width: auto;
    }

    .column {
        max-width: 30%;
        margin: 0 4px;
    }

    .project-card img {
        height: 250px;
        border-radius: 0px;
        margin-top: 0px;
    }

    .project-description {
        padding: 30px;
    }

    .project-description h2 {
        padding-top: 0px;
    }

    .project-description p {
        width: 100%;
    }

    footer ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 2em 0;
    }
    svg {
        width: 75%;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }